<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313525301971-he365ccne9egl9bv3tm9mtljf0md3a3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313525301971-he365ccne9egl9bv3tm9mtljf0md3a3r</string>
	<key>API_KEY</key>
	<string>AIzaSyDKHY-eIo9jrEmjPe8pzZe3Z0Hxmxm1sEI</string>
	<key>GCM_SENDER_ID</key>
	<string>313525301971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.igarashi.igaryo.WordShowdown</string>
	<key>PROJECT_ID</key>
	<string>word-showdown</string>
	<key>STORAGE_BUCKET</key>
	<string>word-showdown.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313525301971:ios:ebaed12719f7cef71b1a26</string>
</dict>
</plist>